Source: hdbc-postgresql
Priority: extra
Section: haskell
Uploaders: John Goerzen <jgoerzen@complete.org>
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends:
 debhelper (>= 7),
 ghc6 (>= 6.12),
 haskell-devscripts (>= 0.7.3),
 cdbs,
 cpphs,
 haddock,
 hscolour,
 libghc6-hdbc-dev (>= 2.2.0),
 libpq-dev (>= 8.1.1),
 libghc6-mtl-dev,
 libghc6-parsec-dev,
 ghc6-doc,
 haskell-hdbc-doc
Standards-Version: 3.8.3
Homepage: http://software.complete.org/hdbc-postgresql
Vcs-Git: git://git.debian.org/git/pkg-haskell/hdbc-postgresql.git
Vcs-Browser: http://git.debian.org/?p=pkg-haskell/hdbc-postgresql.git;a=summary

Package: libghc6-hdbc-postgresql-dev
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}, libpq-dev (>= 8.1.1), libghc6-mtl-dev
Description: PostgreSQL HDBC (Haskell Database Connectivity) Driver for GHC
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases.
 .
 This package provides the PostgreSQL database driver for HDBC under GHC.

Package: haskell-hdbc-postgresql-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: PostgreSQL HDBC (Haskell Database Connectivity) documentation
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases.

